<p>
</p>
<p>Page built by Resilient Dolphin Enterprises © 2024,<a href="https://www.freecodecamp.org/certification/rdin/responsive-web-design"></a>
</p>

<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img style="border:0;width:88px;height:31px" src="https://www.w3.org/Icons/valid-html401" alt="Valid HTML!">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>