<header class="site-header">
    <div class="header-container">
        <div class="logo-area">
            <a href="index.html" class="logo-link">
                <img src="images\CodeStarter_logo.png" alt="Logo" class="logo" />
            </a>
            <h1><a href="index.html" class="site-title">CodeStarter</a></h1>
        </div>

        <nav>
            <ul class="nav-links">
                <li><a href="about.html">About</a></li>
                <li><a href="tutorials.html">Tutorial</a></li>
                <li><a href="quiz.html">Quiz</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>
